@tailwind base;
@layer base {
	.overlay::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 90vh;
		/* z-index: 2; */
		background: rgba(0, 0, 0, .2);
	}
	#nav-text {
		/* z-index: 1; */
	}
	#pngColorFilter {
		/* filter: brightness(0) invert(1); */
	}

	.MuiPaper-root {
		@apply bg-maximum-blue-green text-white !important;
	}
}
@tailwind components;
@tailwind utilities;

@layer utilities {
	.btn {
			@apply px-4 py-2 font-semibold tracking-widest rounded-lg border-2 cursor-pointer text-center no-underline object-contain;
	}

	.btn-primary,
	.btn-primary:visited {
		@apply bg-maximum-blue-green border-maximum-blue-green text-white;
	}
	.btn-primary:hover,
	.btn-primary:visited:hover {
		@apply bg-white border-maximum-blue-green text-maximum-blue-green;
	}
	.btn-secondary {
		@apply border-wheat bg-white;
	}
}